@page
@model Presentation.Pages.Account.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "_Layout2";
}

<main class="flex flex-col h-screen w-full justify-center items-center">
    <div class="bg-white p-8 rounded-xl shadow-md w-full max-w-sm">
        <h2 class="text-2xl font-semibold mb-6 text-center text-gray-700">Login</h2>

        <form method="post">
            @Html.AntiForgeryToken()

            <div class="mb-4">
                <label asp-for="@Model.email" class="block text-gray-700 text-sm font-bold mb-2">Email</label>
                <input asp-for="@Model.email"
                       class="appearance-none border rounded-xl w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"/>
                <span asp-validation-for="@Model.email" class="text-red-500 text-xs mt-1"></span>
            </div>

            <div class="mb-6">
                <label asp-for="@Model.password" class="block text-gray-700 text-sm font-bold mb-2">Password</label>
                <input asp-for="@Model.password" type="password"
                       class="appearance-none border rounded-xl w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"/>
                <span asp-validation-for="@Model.password" class="text-red-500 text-xs mt-1"></span>
            </div>

            @if (Model.ErrorMessage != null)
            {
                <span> @Model.ErrorMessage </span>
            }

            <button type="submit"
                    class="bg-blue-600 hover:bg-blue-700 border-blue-600 hover:border-blue-700 border-1 py-2 px-4 w-full rounded-xl text-white inline-block mb-2">
                Login
            </button>
        </form>

        <button
            class="border-blue-600 border-1 hover:bg-gray-100 hover:border-blue-700 py-2 px-4 w-full rounded-xl text-blue-600 inline-block">
            <a asp-action="Register">Create an account</a>
        </button>
    </div>
</main>